
<div id="wrapper">
	<div class="background-inspirations">
		<div class="inspirations-title">
			<%= image_tag "inspirations_title.png", alt: "title", width: 600 %>
		</div>
		<div class="grid-inspirations">
			<div class="row-1-col-2-span-7-MIES card">
				<div class="card-text">
					<h6 class="card-title">Card title</h6>
					<p class="card-body">And here is some text</p>
				</div>
			</div>
			<div class="row-4-col-8-span-2-PORTINARI card">
				<div class="card-text">
				<h6 class="card-title">Card title</h6>
				<p class="card-body">And here is some text</p>
			</div>
			</div>
			<div class="row-5-col-3-span-2-PARROT">
				<%= image_tag "inspi-parrot.png", alt: "title", width: 370 %>
			</div>
			<div class="row-6-col-5-span-2-SOFOOT img-shadow">
				<%= image_tag "inspi-sofoot.png", alt: "title", width: 300 %>
			</div>
			<div class="row-8-col-1-span-2-BARRAGAN1 img-shadow">
				<%= image_tag "inspi-barragan1.jpg", alt: "title", width: 300 %>
			</div>
			<div class="row-11-col-4-span-2-BARRAGAN2 img-shadow">
				<%= image_tag "inspi-barragan2.jpg", alt: "title", width: 350 %>
			</div>
			<div class="row-10-col-7-span-2-PARROT2 img-shadow">
				<%= image_tag "inspi-parrot2.png", alt: "title", width: 400 %>
			</div>
			<div class="row-14-col-5-span-2-BASQUIAT img-shadow">
				<%= image_tag "inspi-basquiat.jpg", alt: "title", width: 600 %>
			</div>
			<div class="row-18-col-1-span-2-LACHAPPELLE img-shadow">
				<%= image_tag "inspi-lachappelle.jpg", alt: "title", width: 400 %>
			</div>
			<div class="row-21-col-7-span-2-OSS img-shadow">
				<%= image_tag "inspi-oss.png", alt: "title", width: 350 %>
			</div>
			<div class="row-23-col-1-span-2-CEZANNE img-shadow">
				<%= image_tag "inspi-cezanne.jpg", alt: "title", width: 800 %>
			</div>
			<div class="row-25-col-2-span-2-GEMEOS img-shadow">
				<%= image_tag "inspi-gemeos.png", alt: "title", width: 200 %>
			</div>
			<div class="row-26-col-4-span-2-MONKEY">
				<%= image_tag "inspi-monkey.png", alt: "title", width: 400 %>
			</div>
			<div class="row-26-col-5-span-2-TURRELL img-shadow">
				<%= image_tag "inspi-turrell.jpg", alt: "title", width: 400 %>
			</div>
			<div class="row-33-col-7-span-2-AM1 img-shadow">
				<%= image_tag "inspi-am1.png", alt: "title", width: 288 %>
			</div>
			<div class="row-31-col-1-span-2-IAM img-shadow">
				<%= image_tag "inspi-iam.jpg", alt: "title", width: 450 %>
			</div>
			<div class="row-35-col-2-span-2-FERIS img-shadow">
				<%= image_tag "inspi-ferris.jpg", alt: "title", width: 650 %>
			</div>
			<div class="row-40-col-6-span-2-ONCA">
				<%= image_tag "inspi-onca.png", alt: "title", width: 700 %>
			</div>

		</div>
	</div>
</div>




<%= link_to 'BACK', :home %>