<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,600i,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
  <canvas id="canvas"></canvas>
  <div class="btn-cta">
    <ul>
     <li> 
      <% unless current_page?('/') || ('/home') %>
      <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :home, class: 'btn-layout'; %>
      <%end%>
    </li>
    <li><%= link_to '<i class="far fa-envelope"></i>'.html_safe, :contact, class: 'btn-layout' %></li>
  </ul>
</div>


<%= yield %>




<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
