<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,600i,900i" rel="stylesheet">

  </head>

  <body>
    <div class="btn-back">
      <div class="btn-text"> <%= link_to 'BACK', :home %> </div>
    </div>
    <%= yield %>
  </body>
</html>
